.App {
    text-align: center;
    padding: 1px;
  }
  
  .FruitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .FruitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .ButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  